:root {
    --bg-eagle: #FFB866;
    --bg-castle: #252E33;
    --bg-sky : #2A86BA;
    --bg-flower: #FD3555;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    min-width: 500px;
}

.text {
    width: 30%;   
}

.text>div {
    color: white;
    height: 100%;
    padding: 1.3rem;
    transition: transform 0.5s ease-in-out;
}

.text>div>h2 {
    font-size: 2.5rem;
}

.text>div>span {
    font-size: 1.5rem;
}

.text__eagle {
    background-color: var(--bg-eagle);
}

.text__castle {
    background-color: var(--bg-castle);
}

.text__sky {
    background-color: var(--bg-sky);
    
}

.text__flower {
    background-color: var(--bg-flower);
}

.btns>button>i {
    font-size: 1.8rem;
    color: #AAAAAA;
}

.btns>button {
    padding: .5rem;
    background-color: #FFFFFF;
    border: none;
    outline: transparent;
    position: absolute;
    left: 30%;
    top: 50%;
}

.btns__next {
    border-radius: 0 5px 5px 0;
    transform: translateY(-100%);
}

.btns__prev {
    border-radius: 5px 0 0 5px;
    transform: translateX(-100%);
}

.btns>button:hover,
.btns>button>i:hover {
    cursor: pointer;
    color: black;
}

.imgs {
    width: 70%;
    min-width: 600px;
    max-width: 1800px;
}

.imgs__img {
    width: 100%;
    height: 100vh;
    max-width: 100%;
}

.hidden {
    display: none;
}

