@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --light-color: white;
    --dark-color: black;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Roboto", sans-serif;
    transition: all 700ms ease-in;
}

.dark-theme {
    background-color: var(--dark-color);
    color: var(--light-color);
}

.light-theme {
    background-color: var(--light-color);
    color: var(--dark-color);
}

.main {
    width: 40%;
    margin: 4rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 700ms ease-in;
}

.theme-btn {
    background-color: var(--dark-color);
    color: var(--light-color);
    font-size: 1.2rem;
    font-weight: 400;
    border-radius: 5px;
    padding: 5px;
    margin: 0 auto;
    border: none;
    outline: transparent;
}

.theme-btn:hover,
.theme-btn:active {
    cursor: pointer;
}

.hour {
    text-transform: uppercase;
    font-size: 3rem;
}

.date {
    color: #C0BBB8;
    font-size: 1.5rem;
}

.clock-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.clock {
    margin: 2rem 0 2rem 0;
    position: relative;
    width: 200px;
    height: 200px;
}

.needle {
    background-color: var(--dark-color);
    position: absolute;
    top: 50%;
    left: 50%;
    height: 65px;
    width: 3px;
    transform-origin: bottom center;
    transition: all 0.5s ease-in;
}

.clock-hour {
    background-color: var(--dark-color);
    width: 5px;
    height: 80px;
    transform: translate(-50%, -100%) rotate(0deg);
}

.clock-minute {
    background-color: var(--dark-color);
    width: 5px;
    height: 100px;
    transform: translate(-50%, -100%) rotate(0deg);
}

.clock-seconds {
    background-color: red;
    width: 5px;
    height: 100px;
    transform: translate(-50%, -100%) rotate(0deg);
}


