:root {
    --color-1: green;
    --color-2: red;
    --color-3: #663399;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-3);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
    overflow: hidden;
}

.btn {
    color: var(--color-3);
    background-color: #fff;
    padding: 1rem;
    font-size: 1.5rem;
    border: none;
    outline: transparent;
    border-radius: 5px;
}

.btn:hover {
    cursor: pointer;
}

.notification {
    margin: 2rem 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 1.5rem;
    border-radius: 10px;
    padding: 1rem;
    position: absolute;
    bottom: -20px;
    right: 20px;
}