*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: white;
}

body {
    background-color: #2A2A72;
    width: 100svw;
    height: 100svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.github-profile {
    width: 70%;
    max-width: 1500px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.github-profile__search {
    background-color: #4C2885;
    width: 80%;
    max-width: 700px;
    margin: auto 0;
    border: none;
    outline: transparent;
    padding: 1.5rem;
    font-size: 1.3rem;
    border-radius: 10px;
}
.github-profile__search::placeholder {
    font-weight: 400;
    color: #BBB2B1;
}

.github-profile__main {
    width: 100%;
    max-width: 1000px;
    background-color: #4C2885;
    height: 400px;
    display: flex;
    gap: 2rem;
    padding: 2rem;
    border-radius: 20px;
}

.github-profile__main--empty {
    width: 40%;
    max-width: 1000px;
    background-color: #4C2885;
    height: 200px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.github-profile__main--empty >h2{ 
    font-size: 2rem;
    font-weight: bolder;
}

.github-profile__img {
    width: 30%;
}

.github-profile__img > img {
    width: 100%;
    border-radius: 50%;
    border: 10px solid #2A2A72;
}

.github-profile__data {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: space-between;
}

.github-profile__name {
    font-size: 2.5rem;   
}

.github-profile__description {
    font-size: 1.3rem;
}

.github-profile__stats {
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
    width: 80%;
    font-weight: 500;
}

.github-profile__repositoris {
    font-size: 1rem;    
    display: flex;
    flex-wrap: wrap;
    gap: 1rem ;
}

.github-profile__repositoris > a {
    background-color: #212A72;
    padding: .5rem;
    border-radius: 10px;
}