*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333333;
}

.main {
    background-color: #fff;
    border: 2px solid green;
}

.content {
    width: 70%;
    max-width: 800px !important;
    margin: 0 auto;
    padding: 100px 0 20px 0;
    border: 2px solid red;
}

.parent {
    background-color: #FF7979;
    width: 100px;
    height: 100px;
    border-radius: 0 0 100% 0;
    position: absolute;
    z-index: 1;
}

.parent>i {
    color: #fff;
    font-size: 2rem;
    position: relative;
    top: 1.5rem;
    left: 2rem;
}

.menu:hover,
.menu:active,
.close:hover,
.close:active {
    cursor: pointer;
}

.hidden {
    visibility: hidden;
}

.icons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: 45rem;
    left: 4rem;
}

.icons>i {
    color: #fff;
    color: #FF7979;
    display: flex;
    gap: .8rem;
}

.icon1 {
    margin-left: -30px;
}

.icon2 {
    margin-left: -15px;
}

.icon3 {
    margin-left: -3px;
}

.rotate {
    transform-origin: top left;
    transform-style: preserve-3d;
    transform: rotate(-18deg);
    transition: all 700ms ease;
}

.invisible {
    margin-left: -200px;
    transition: all 700ms ease;
}