@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #E1E1E1;
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.main>div {
    background-color: #EEEEEE;
    height: 80px;
    border: 1px solid #999999;
    font-size: 1.5rem;
    text-align: center;
    padding: 1.5rem 0;
}

.span {
    position: absolute;
    top: -30px;
    color: #999999;
    font-weight: 400;
    text-align: center;
}

.initialText {
    width: 60%;
    margin: 0 auto;
    font-weight: 400;
}

.event {
    font-weight: 700;
    width: 30%;
}

.invisible {
    display: none;
}

.visible {
    display: block;
}