@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    background-color: #22254B;
}

.header {
    background-color: #373B69;
    height: 5rem;
    display: flex;
    justify-content: flex-end;
}

.input {
    padding: 1rem;
    height: 50px;
    width: 200px;
    margin: 1rem 3rem; 
    background-color: #373B69;
    border: 2px solid #22254B;
    border-radius: 50px;
    color: #fff;
    font-size: 1.5rem;
    outline: transparent;
}

.input::placeholder {
    color: #b8b2b2;
}

.input:focus {
    background-color: #22254B;
}

.movies {
    width: 90%;
    max-width: 1000px;
    margin: 2rem auto;
    display: flex; 
    flex-wrap: wrap;
    gap: 3rem;
    transition: all 400ms ease;
}

.movies:hover {
    
}

.card-div {
    width: 300px;
    background-color: #373B69;
    position: relative;
    border-radius: 5px;
}

.card-img {
    width: 100%;
    max-height: 100%;
}

.card-title {
    color: #E8EEEE;
}

.card-average {
    background-color: #22254B;
    padding: .5rem;
    font-weight: 900;
    border-radius: 5px;
}

.info-movie {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.card-overview {
    display: none;
    /* visibility: hidden; */
    background-color: #fff;
    padding: 2rem;
    position: absolute;
    bottom: 0;
    width: 300px;
    transition: transform 0.3s ease-in;
}

.overview-h2 {
    margin: 1rem 0;
}

