*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F8F9FD;
    font-family: "Protest Revolution", sans-serif;
}

.main {
    min-width: 500px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.main__form {
    background-color: #3E57DB;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    color: white;
}

.form__title {
    font-size: 2rem;
    margin-bottom: .5rem;
}

.form__description {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.form__search {
    background-color: #2B3D99;
    border: none;
    outline: transparent;
    padding: 1rem 2rem;
    border-radius: 50px;
    font-size: 1.4rem;
    color: white;
}

.main__data {
    background-color: white;
    overflow: hidden;
}

.data__wrapper {
    overflow-y: scroll;
    max-height: 400px;
    margin-top: 1.4rem;
}

.wrapper__card {
    border-bottom: 3px solid #F8F9FD;
    padding: .8rem 2rem;
    display: flex;
    align-items: start;
    gap: 0 1.5rem;
}

.card__img {
    border-radius: 50%;
}

.card__name {
    margin-bottom: .6rem;
}

.data__charging {
    padding: 2rem 0;
    text-align: center;
    font-size: 2rem;
    text-transform: capitalize;
}