:root {
    --active: #3498DB;
    --desactive: #999BA6;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(179, 218, 233);
}

.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
    overflow: hidden;
    color: #333;
    border: 1px solid sienna;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.numbers {
    width: 400px;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    color: #999BA6;
    text-align: center;
}

.num {
    background-color: #fff;
    border-radius: 50%;
    width: 35px;
    border: 3px solid var(--desactive);
}

.line {
    width: 90px;
    height: 4px;
    background-color: var(--desactive);
    position: absolute;
}

.line1 {
    top: 18px;
    left: 32px;
}

.line2 {
    top: 18px;
    left: 153px;
}

.line3 {
    top: 18px;
    left: 276px;
}

.btns {
    display: flex;
    margin: 2rem 0 0 0;
    transition: all 700ms ease-in-out;
}

.btn {
    margin: 0 auto;
    width: 8rem;
    height: 3rem;
    border: transparent;
    border-radius: 10px;
    background-color: #E0E0E0;
    color: #FFFDFA;
    font-weight: 500;
    font-size: 1.5rem;
    padding: .2rem;
}

.btn-active {
    background: var(--active);
}

.num-active {
    border: 3px solid var(--active);
}

.line-active {
    background-color: var(--active);
}

.btn:hover,
.btn:active {
    cursor: pointer;
}