@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #F0F0F0;
}

.main {
    margin: 3rem auto;
    width: 50%;
}

.title {
    text-align: center;
    font-size: 2.5rem;
}

.cuestion {
    width: 100%;
    background-color: transparent;
    border: 1px solid #9FA4A8;
    border-radius: 10px;
    margin: 1.5rem 0;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    width: 80%;
    max-width: 80%;
}

.icons {
    margin: .4rem .8rem 0 0;
    font-size: 1.9rem;
}

.icons:hover,
.icons:active {
    cursor: pointer;
}

.active {
    display: block;
}

.desactive {
    display: none;
}